* {
  --accent-dark: #004ba0;
  --accent-medium: #1976d2;
  --accent-light: #63a4ff;
  --background-color: white;
}

body {
  text-align: center;
  margin: 5%;
  font-family: Calibri, sans-serif;
  background: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--accent-medium);
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: normal;
  color: var(--accent-light);
}

input {
  border: none;
  border-bottom: 1px solid var(--accent-light);
  padding: 3px;
  background: none;
}

input:hover {
  border-bottom-color: var(--accent-medium);
}

input:focus {
  border-bottom-color: var(--accent-dark);
}

button {
  background: var(--accent-light);
  border: none;
  color: white;
  border-radius: 10px;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

button:hover {
  background: var(--accent-medium);
}
